# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.log.*

# Exclude override files, as they may contain sensitive information
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to git using !
# !example_override.tf

# Include any .tfvars files you do wish to add to git using !
!terraform.tfvars

# Constants and variables
*.tfvars
*.tfvars.json

# Ignore variables for local development
.terraform.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
