resource_groups = {
  "aks-infra-rg" = {
    location = "westeurope"
    tags = {
      environment = "dev"
      project     = "aks-modular"
    }
  }
}

registries = {
  "aksmodacr" = {
    resource_group_key = "aks-infra-rg"
    sku                = "Standard"
    tags = {
      environment = "dev"
    }
  }
}

clusters = {
  "aks-mod-cluster" = {
    resource_group_key = "aks-infra-rg"
    dns_prefix         = "aksmod"
    node_count         = 2
    vm_size            = "Standard_DS2_v2"
    acr_key            = "aksmodacr"
    tags = {
      environment = "dev"
    }
  }
}
